section.reviews.block#reviews.bg-light.bg-light-5
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.reviews__title.text-uppercase.mb-0 Opinie
					.col-auto(data-aos="fade-left") 
						.swiper-navigation
							.reviews-button-prev.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.reviews-button-next.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in") 
						h3.reviews__subtitle.h4.h6.text-light.mb-0 Opinie o Sprzątaniu Mieszkań i Domów Katowice
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.swiper.reviews-swiper 
					.swiper-wrapper
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Anna
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zdecydowałam się na gruntowne sprzątanie po remoncie. Ekipa Skylyclean to profesjonaliści! Usunęli cały ten budowlany pył, który był wszędzie. Cena była adekwatna do ogromu pracy. Polecam sprzątanie po remoncie w Katowicach tylko z nimi.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Piotr
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zamówiłem standardowe sprzątanie mieszkania 3-pokojowego. Wreszcie mam lśniące podłogi i czyste fugi w łazience. Obsługa punktualna, a efekt przeszedł moje oczekiwania. Będę korzystać cyklicznie.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Katarzyna
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Usługa sprzątania domu w Tychach. Panie dopieściły każdy kąt. Szczególnie jestem zadowolona z mycia okien – są bez żadnych smug. Warto dopłacić za mycie lodówki – wygląda jak nowa.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Michał
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Szukałem dobrej firmy sprzątającej w Katowicach i trafiłem idealnie. Cennik jest przejrzysty, a to rzadkość. Skończyli w umówionym czasie, wszystko wyczyszczone, włącznie z piekarnikiem.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Ewa
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Regularne sprzątanie naszego 4-pokojowego mieszkania jest teraz czystą przyjemnością (dla mnie, bo robią to oni!). W końcu nikt u nas nie musi się martwić o kurz i łazienki. Cena za sprzątanie bardzo konkurencyjna.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Andrzej
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Mieszkam w okolicy Katowic, dojazd był bez problemu. Zleciliśmy gruntowne sprzątanie kuchni i łazienki. Profesjonalna chemia zrobiła swoje. Polecam wszystkim zapracowanym!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Magdalena
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Korzystałam z usługi sprzątania po przeprowadzce. Dużo rzeczy do ogarnięcia, ale Skylyclean dało radę. Szczególne podziękowania za umycie wewnętrznych szafek kuchennych!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Hubert
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Potrzebowałem szybkiego i dokładnego sprzątania biura. Byłem sceptyczny, ale łazienki są zdezynfekowane, a biurka lśnią. Zlecam teraz stałą usługę abonamentową.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
			.col-12 
				.text-center
					a(href="" target="_blank") Tutaj
					| &nbsp;możesz przeczytać wszystkie recenzje i zostawić własne.
