section.reviews.block#reviews.bg-light.bg-light-5
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.reviews__title.text-uppercase.mb-0 Opinie
					.col-auto(data-aos="fade-left") 
						.swiper-navigation
							.reviews-button-prev.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.reviews-button-next.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in") 
						h3.reviews__subtitle.h4.h6.text-light.mb-0 Co Klienci Mówią o Naszym Sprzątaniu i Czyszczeniu w Katowicach
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.swiper.reviews-swiper 
					.swiper-wrapper
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Magdalena
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zamówiłam sprzątanie mieszkania po remoncie i jestem zachwycona! Wszystko błyszczy, a kuchnia wygląda jak nowa. Dodatkowo skorzystałam z mycia okien i czyszczenia piekarnika – rewelacja! Na pewno jeszcze wrócę.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Tomasz
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Ekipa przyjechała punktualnie, bardzo mili ludzie. Zrobili generalne sprzątanie domu, umyli balkony i wyczyścili dywan, który myślałem, że już nie da się uratować. Efekt WOW! Polecam z całego serca.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Katarzyna
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zamawiałam sprzątanie mieszkania z dodatkowymi usługami – mycie lodówki, mikrofali i szafek w kuchni. Wszystko wykonane bardzo dokładnie. Dodatkowo zrobiłam pranie tapicerki narożnika – wygląda jak nowy!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Michał
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Świetna firma! Zleciłem kompleksowe sprzątanie po remoncie + czyszczenie materaca. Materac pachnie świeżo, zero plam. Pani dokładnie wyczyściła też okap i okna. Jestem bardzo zadowolony.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Agnieszka
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zamówiłam sprzątanie 3-pokojowego mieszkania z prasowaniem i myciem okien. Wszystko zrobione perfekcyjnie. Dziewczyny bardzo sympatyczne, komunikatywne, zostawiły po sobie porządek i piękny zapach w całym mieszkaniu.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Jakub
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Regularnie korzystam z ich usług. Tym razem oprócz sprzątania kuchni i łazienki poprosiłem o czyszczenie tapicerki foteli i dywanu. Efekt naprawdę profesjonalny – kolory wróciły, zero zapachu po zwierzaku.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Ewelina
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zamówiłam gruntowne sprzątanie przed świętami. Zrobili wszystko: mycie szafek, piekarnika, lodówki, okien i balkonu. Bardzo dokładnie i szybko! Czuć, że mają doświadczenie. Polecam każdemu!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Marcin
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Mieszkanie po wynajmie wyglądało fatalnie, ale po sprzątaniu i praniu kanapy wszystko jak nowe. Zrobili też czyszczenie kociej kuwety i lodówki – nawet o tym pomyśleli! Super robota.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Joanna
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Sprzątanie domu po remoncie wykonane na najwyższym poziomie. Okna umyte idealnie, kafelki w łazience lśnią. Dodatkowo zamówiłam czyszczenie materaca i narożnika – bez plam i bez zapachu.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Paweł
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zamówiłem sprzątanie domu z dodatkowymi usługami – mycie szafek i balkonu. Bardzo dokładnie, punktualnie, uczciwa cena. Dodatkowo wyczyścili dywan i kanapę – naprawdę profesjonalna obsługa.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
			.col-12 
				.text-center
					a(href="" target="_blank") Tutaj
					| &nbsp;możesz przeczytać wszystkie recenzje i zostawić własne.
