section.reviews.block#reviews.bg-light.bg-light-5
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.reviews__title.text-uppercase.mb-0 Opinie
					.col-auto(data-aos="fade-left") 
						.swiper-navigation
							.reviews-button-prev.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.reviews-button-next.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in") 
						h3.reviews__subtitle.h4.h6.text-light.mb-0 Opinie o Praniu Tapicerki i Czyszczeniu Kanap w Katowicach
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.swiper.reviews-swiper 
					.swiper-wrapper
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Joanna
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Kanapa po kilku latach wyglądała tragicznie (dzieci!). Pranie tapicerki w Katowicach metodą ekstrakcyjną to był strzał w dziesiątkę. Plamy z kawy zniknęły, a materiał jest jak nowy.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Marek
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zleciłem czyszczenie narożnika i dwóch foteli. Najważniejsze, że zniknął zapach psa, a sierść została całkowicie usunięta. Pan przyjechał punktualnie i pracował bardzo dokładnie.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Agata
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Cena za pranie sofy była bardzo uczciwa. Bałam się zacieków, ale po wyschnięciu tapicerka jest idealnie czysta i sucha. Wreszcie mam higienicznie czysty wypoczynek.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Krzysztof
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Rewelacyjna usługa! Nasz tapicerowany zagłówek łóżka był zaniedbany. Po czyszczeniu wygląda rewelacyjnie. Polecam ich profesjonalne podejście i chemię!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Monika
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Po czyszczeniu krzeseł i kanapy odczuwalna jest ogromna różnica w świeżości. Czuć, że meble zostały dogłębnie wyczyszczone, nie tylko powierzchownie. Najlepsze czyszczenie tapicerki w okolicy.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Tomasz
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zlecenie na pranie dużego narożnika. Usługa wykonana na miejscu w domu, szybko i sprawnie. Warto było, bo kanapa odzyskała kolor. Super, że działają w Katowicach z dojazdem.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Weronika
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Mój kremowy fotel odzyskał dawny blask. Specjalista był bardzo delikatny, a jednocześnie skuteczny w usuwaniu starej plamy po winie. Polecam wszystkim alergikom!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Paweł
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Szukałem firmy, która zajmie się moim dużym kanapowym rogiem. Profesjonalna chemia i ekstraktor dały radę. Następnym razem na pewno skorzystam.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
			.col-12 
				.text-center
					a(href="" target="_blank") Tutaj
					| &nbsp;możesz przeczytać wszystkie recenzje i zostawić własne.
