section.reviews.block#reviews.bg-light.bg-light-5
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.reviews__title.text-uppercase.mb-0 Opinie
					.col-auto(data-aos="fade-left") 
						.swiper-navigation
							.reviews-button-prev.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.reviews-button-next.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in") 
						h3.reviews__subtitle.h4.h6.text-light.mb-0 Opinie o Czyszczeniu Materacy i Usuwaniu Roztoczy Katowice
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.swiper.reviews-swiper 
					.swiper-wrapper
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Karolina
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Jestem silną alergiczką, więc czyszczenie materaca z roztoczy było dla mnie priorytetem. Po usłudze czuję wyraźną różnicę w jakości snu. Polecam ten zabieg dezynfekcji materaca!
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Adam
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Materac dwuosobowy po 5 latach był w opłakanym stanie (pot, kurz). Pranie materaca dwustronnie dało fenomenalny efekt. Plamy są niewidoczne, a zapach świeży.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Monika
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Potrzebowaliśmy usunąć plamę z moczu po dziecku. Ekipa Skylyclean przyjechała z profesjonalnym sprzętem i chemią. Problem rozwiązany szybko i dyskretnie.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Piotr
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zdecydowałem się na pranie materaca z dojazdem w Katowicach. Usługa wykonana na miejscu, sprawnie. Wreszcie śpię higienicznie. Warto sprawdzić ich cennik materacy.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Ewa
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Po praniu mój stary materac wygląda, jakbym go właśnie kupiła! Zleciłam pranie jednostronne, ale efekt jest gruntowny. Duży plus za bezpieczne środki!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Hubert
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Świetna robota z ramą łóżka i materacem. Widać, że czyszczenie jest dogłębne. Czas schnięcia był krótki. Bardzo cenię sobie, że działają w mojej okolicy.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Natalia
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zleciłam pranie dwóch materacy jednoosobowych. Panowie byli bardzo dokładni, zajęli się nawet zagłówkiem. Teraz sypialnia pachnie świeżością.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Bartosz
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Szukałem firmy, która usunie plamy z materaca, a nie tylko je zamaskuje. Ekstrakcyjne czyszczenie zdało egzamin w 100%. Świetna cena za taką jakość usługi.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
			.col-12 
				.text-center
					a(href="" target="_blank") Tutaj
					| &nbsp;możesz przeczytać wszystkie recenzje i zostawić własne.
