section.reviews.block#reviews.bg-light.bg-light-5
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.reviews__title.text-uppercase.mb-0 Opinie
					.col-auto(data-aos="fade-left") 
						.swiper-navigation
							.reviews-button-prev.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.reviews-button-next.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in") 
						h3.reviews__subtitle.h4.h6.text-light.mb-0 Opinie o Pralni Dywanów i Czyszczeniu Wykładzin Katowice
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.swiper.reviews-swiper 
					.swiper-wrapper
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Robert
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Moja podłoga w biurze była pokryta brudną wykładziną. Czyszczenie wykładziny w Katowicach przez Skylyclean to strzał w dziesiątkę. Użyli ekstraktora i szorowarki, efekt niesamowity.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Alicja
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Oddałam do prania duży dywan Shaggy. Obawiałam się, że się zniszczy. Pranie na wskroś i usunięcie piasku z głębi dało efekt czystości, jakiego nie miałam od lat.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Michał
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Świetna usługa! Zleciłem pranie dywanów wełnianych, które były mocno zabrudzone po budowie. Bardzo doceniam bezpłatny odbiór i dowóz w Katowicach.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Elżbieta
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Cena za pranie dywanu była bardzo dobra w stosunku do jakości. Dodatkowo w pakiecie zrobili darmowe ozonowanie, co dla mnie jako alergika było bardzo ważne.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Kamil
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Nasz dywan dziecięcy zyskał drugie życie. Zniknęły plamy po farbkach i jedzeniu. Polecam każdemu, kto ma dzieci i potrzebuje higienicznej czystości.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered 
								.review__header
									h4.h6.review__name Beata
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Zawsze miałam problem z dywanami orientalnymi. Tutaj wiedzą, jak się z nimi obchodzić. Materiał jest miękki i nie stracił koloru.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Jacek
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Najważniejsze, że usunęli mi stary i uporczywy zapach stęchlizny z dywanu z piwnicy. Po praniu dywanu i ozonowaniu jest po prostu neutralnie i czysto.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.palette-glass.rounded.bordered  
								.review__header
									h4.h6.review__name Dominika
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Szukałam pralni dywanów z dojazdem. Obsługa miła, terminowa. Dywan wrócił do mnie czysty, pachnący i odpowiednio zabezpieczony. Będę polecać!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
			.col-12 
				.text-center
					a(href="" target="_blank") Tutaj
					| &nbsp;możesz przeczytać wszystkie recenzje i zostawić własne.
