.bg-dark {

  color: var(--first-color);
  position: relative;
  background: url(../img/bg-dark-gradient.webp);
  background-size: cover;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(100px);
    box-shadow: inset 0 1px 0 var(--neutral-color), inset 0 -1px 0 var(--neutral-color);
  }

  .container {
    position: relative;
    z-index: 2;
  }

}

.bg-light {
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.4;
    z-index: -1;
  }

  &-1 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-1.webp);
      background-size: cover, cover;
      background-position: center, center;
      background-repeat: no-repeat;
    }
  }

  &-2 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-2.webp);
      background-size: cover, cover;
      background-position: center, right center;
      background-repeat: no-repeat;
    }
  }

  &-3 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-3.webp);
      background-size: cover, cover;
      background-position: center, center;
      background-repeat: no-repeat;
    }
  }

  &-4 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-4.webp);
      background-size: cover, cover;
      background-position: center, center;
      background-repeat: no-repeat;
    }
  }

  &-5 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-5.webp);
      background-size: cover, cover;
      background-position: center, center;
      background-repeat: no-repeat;
    }
  }


  @media screen and (max-width: 575px) {
      &-1 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-1-mob.webp);
    }
  }

  &-2 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-2-mob.webp);
    }
  }

  &-3 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-3-mob.webp);
    }
  }

  &-4 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-4-mob.webp);
    }
  }

  &-5 {
    &:before {
      background-image: linear-gradient(to bottom, var(--neutral-color) 0%, transparent 50%, var(--neutral-color) 100%), url(../img/bg-light-5-mob.webp);
    }
  }
  }

}