.categories {
    &-navigation {
        --swiper-navigation-sides-offset: 0px;
        --swiper-navigation-size: 24px;
        --swiper-navigation-color: #ffa600;
        position: relative;
        overflow: hidden;
        .swiper-slide {
            width: auto;
            flex-grow: 1;

            &:has(>.category-btn):not(:first-child) {
                padding-left: 4px;
            }
        }
    }

    &-button-arrow {
        &.swiper-button-disabled {
            display: none;
        }
    }

    &-content {
        height: auto;
    }
}


.category {

    &-btn {
        width: 100%;
        z-index: 1;

        &__text {
            white-space: nowrap;
        }

        &:before,
        &:after {
            content: "";
            display: block;
            width: 100vw;
            height: 1px;
            background: var(--border-color);
            position: absolute;
            bottom: 0;
            opacity: 0;
            transition: opacity 400ms;
        }

        &:before {
            left: 100%;
        }

        &:after {
            right: 100%;
        }
    }
}

.swiper-slide-thumb-active {
    z-index: 2;
}

.swiper-slide-thumb-active .category-btn {
    z-index: 10;

    &:before,
    &:after {
        opacity: 1;
    }
}