.cta {
    position: relative;
    z-index: 1;

    &__input {
        width: 100%;
    }

    &__label {
        padding: 0 0.25rem;
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        flex-grow: 1;
    }

    &__labels {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        width: 100%;
    }
}

.input {
    padding: 0.75rem 1rem;
    display: inline-block;
    background: transparent;
    outline: none;
    border: none;
    max-width: 100%;

    &-wrap {
        --padding: 0;

        &:has(input:focus, select:focus, textarea:focus) {
            --border-color: var(--second-color);
        }
    }

    &:focus {

        outline: none;
        border: none;
    }
}

textarea.input {
    resize: none;
}

// input::placeholder {
//     color: #999;
// }
// textarea::placeholder {
//     color: #999;
// }

.select-wrap {
    padding: 1rem;
}