
  .works {
    overflow: hidden;
  }


  .work {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    display: block;
    overflow: hidden;
    transition: all 200ms;

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

  }


  .gallery {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.5rem;
  }