extends settings/layout

prepend html
	- const lang = "pl";

prepend head
	- const pageTitle = "Firma sprzątająca Katowice: Sprzątanie mieszkań, domów. Pranie tapicerki, dywanów, materacy"
	- const themeColor = "#ffffff"
	- const pageDescription = "Firma sprzątająca w Katowicach. Sprzątanie mieszkań, domów od 200 zł. Oferujemy: sprzątanie po remoncie, mycie okien, pranie tapicerki, dywanów i materacy z dojazdem."
	- const pageKeywords = "sprzątanie mieszkań Katowice, firma sprzątająca Katowice, sprzątanie domów Katowice, sprzątanie po remoncie Katowice, usługi sprzątające Katowice, pranie tapicerki meblowej Katowice, czyszczenie tapicerki Katowice, pranie dywanów Katowice, czyszczenie materacy Katowice, sprzątanie Katowice cennik"
	- const pageUrl = "";
	- const pageImage = "img/logo.jpg";
	- const twitterImage = "img/logo.jpg";

append head
	//- link(rel="preload" as="image" href="img/promo-img-mob.webp" type="image/webp" media="(max-width: 430px)")
	//- link(rel="preload" href="fonts/cormorant-garamond-v20-latin-ext-300.woff2" as="font" type="font/woff2" crossorigin)
	//- link(rel="preload" href="fonts/cormorant-garamond-v20-latin-ext-700.woff2" as="font" type="font/woff2" crossorigin)
	//- script(type="application/ld+json").
	//- 	{
	//- 	"@context": "https://schema.org",
	//- 	"@type": ["LocalBusiness", "CleaningService"],
	//- 	"name": "TopTapiClean",
	//- 	"description": "Profesjonalne pranie tapicerki meblowej, materacy, dywanów, tapicerki samochodowej w Nysie, Głuchołazach i Otmuchowie.",
	//- 	"url": "https://toptapiclean.pl",
	//- 	"email": "top.tap@wp.pl",
	//- 	"telephone": "+48884412928",
	//- 	"address": {
	//- 		"@type": "PostalAddress",
	//- 		"addressLocality": "Nysa",
	//- 		"addressCountry": "PL"
	//- 	},
	//- 	"areaServed": [
	//- 	{
	//- 	"@type": "Place",
	//- 	"name": "Nysa"
	//- 	},
	//- 	{
	//- 	"@type": "Place",
	//- 	"name": "Głuchołazy"
	//- 	},
	//- 	{
	//- 	"@type": "Place",
	//- 	"name": "Otmuchów"
	//- 	}
	//- 	],
	//- 	"geo": {
	//- 	"@type": "GeoCoordinates",
	//- 	"latitude": 50.47257,
	//- 	"longitude": 17.33556
	//- 	},
	//- 	"openingHours": [
	//- 	"Mo-Sa 07:00-23:00",
	//- 	"Su 08:00-13:00"
	//- 	],
	//- 	"priceRange": "PLN",
	//- 	"image": "https://toptapiclean.pl/logo.png",
	//- 	"hasOfferCatalog": {
	//- 	"@type": "OfferCatalog",
	//- 	"name": "Nasze usługi",
	//- 	"itemListElement": [
	//- 	{
	//- 		"@type": "Offer",
	//- 		"itemOffered": {
	//- 		"@type": "Service",
	//- 		"name": "Pranie tapicerki meblowej"
	//- 		}
	//- 	},
	//- 	{
	//- 		"@type": "Offer",
	//- 		"itemOffered": {
	//- 		"@type": "Service",
	//- 		"name": "Pranie materacy"
	//- 		}
	//- 	},
	//- 	{
	//- 		"@type": "Offer",
	//- 		"itemOffered": {
	//- 		"@type": "Service",
	//- 		"name": "Czyszczenie dywanów"
	//- 		}
	//- 	},
	//- 	{
	//- 		"@type": "Offer",
	//- 		"itemOffered": {
	//- 		"@type": "Service",
	//- 		"name": "Pranie tapicerki samochodowej"
	//- 		}
	//- 	}
	//- 	]
	//- 	},
	//- 	"sameAs": [
	//- 	"https://www.facebook.com/profile.php?id=61558390682562",
	//- 	"https://www.tiktok.com/@toptapclean?_t=8lieXgIxd56&amp;_r=1",
	//- 	"https://goo.gl/maps/A5t7SypU83NrAAxQA"
	//- 	],
	//- 	"mainEntity": {
	//- 	"@type": "FAQPage",
	//- 	"mainEntity": [
	//- 	{
	//- 		"@type": "Question",
	//- 		"name": "Jak często należy czyścić meble tapicerowane?",
	//- 		"acceptedAnswer": {
	//- 		"@type": "Answer",
	//- 		"text": "Zalecamy profesjonalne czyszczenie tapicerki meblowej co 6–12 miesięcy. W domach, gdzie są dzieci, zwierzęta domowe lub osoby cierpiące na alergie, warto robić to częściej, aby meble pozostały czyste i świeże."
	//- 		}
	//- 	},
	//- 	{
	//- 		"@type": "Question",
	//- 		"name": "Czy można usunąć wszystkie plamy?",
	//- 		"acceptedAnswer": {
	//- 		"@type": "Answer",
	//- 		"text": "Większość plam można skutecznie usunąć, ale wszystko zależy od rodzaju plamy, czasu jej obecności oraz wcześniejszych prób czyszczenia. Niektóre uporczywe plamy mogą pozostawić niewielkie przebarwienia."
	//- 		}
	//- 	},
	//- 	{
	//- 		"@type": "Question",
	//- 		"name": "Ile czasu potrzebuje tapicerka, aby wyschła po czyszczeniu?",
	//- 		"acceptedAnswer": {
	//- 		"@type": "Answer",
	//- 		"text": "Czas schnięcia zależy od rodzaju materiału oraz warunków w pomieszczeniu. Zazwyczaj zajmuje to od 5 do 12 godzin. Tapicerka schnie szybciej w ciepłym i dobrze wentylowanym miejscu. Za dodatkową opłatą zgodnie z cennikiem można skorzystać z usługi przyspieszonego suszenia."
	//- 		}
	//- 	},
	//- 	{
	//- 		"@type": "Question",
	//- 		"name": "Czy środki czyszczące są bezpieczne dla dzieci i zwierząt domowych?",
	//- 		"acceptedAnswer": {
	//- 		"@type": "Answer",
	//- 		"text": "Tak. Używamy certyfikowanych środków, które są bezpieczne i nie powodują alergii. Po czyszczeniu zalecamy nie korzystać z mebli, dopóki całkowicie nie wyschną."
	//- 		}
	//- 	},
	//- 	{
	//- 		"@type": "Question",
	//- 		"name": "Jak przygotować meble do czyszczenia?",
	//- 		"acceptedAnswer": {
	//- 		"@type": "Answer",
	//- 		"text": "Wystarczy usunąć poduszki, koce i inne przedmioty z mebli. Nie ma potrzeby ich przestawiać ani przesuwać — wszystkim zajmiemy się na miejscu."
	//- 		}
	//- 	}
	//- 	]
	//- 	}

	//- 	}


append content
	script. 
		const initialCategory = 0;
	include components/header/header
	main
		include components/promo/promo-main
		include components/services
		include components/about
		include components/process/process
		include components/why
		include components/price/price
		include components/how
		include components/works/works-main
		include components/cta
		include components/reviews/reviews-main
		include components/faq/faq-main
		include components/contacts
		include components/popup
		include components/icons
	include components/footer

append scripts