extends settings/layout

prepend html
	- const lang = "pl";

prepend head
	- const pageTitle = "Pranie dywanów Katowice: Czyszczenie wykładzin, pranie shaggy, wełnianych. Cennik"
	- const pageDescription = "Profesjonalna pralnia dywanów w Katowicach. Skuteczne pranie dywanów shaggy, wełnianych i syntetycznych. Odbiór i dowóz gratis. Usuwamy plamy, zapachy i roztocza. Sprawdź cennik!"
	- const pageKeywords = "pranie dywanów Katowice, czyszczenie wykładzin Katowice, pralnia dywanów Katowice, pranie dywanu shaggy, pranie dywanu wełnianego, pranie dywanów cena, czyszczenie dywanów z dojazdem"
	- const pageUrl = "pranie-dywanow.html"
	- const pageImage = "img/logo.jpg"
	- const twitterImage = "img/logo.jpg"
	- const themeColor = "#ffffff"

append head
	//- link(rel="preload" href="fonts/cormorant-garamond-v20-latin-ext-300.woff2" as="font" type="font/woff2" crossorigin)
	//- link(rel="preload" href="fonts/cormorant-garamond-v20-latin-ext-700.woff2" as="font" type="font/woff2" crossorigin)
	//- script(type="application/ld+json").
	//- 	{
	//- 	"@context": "https://schema.org",
	//- 	"@graph": [
	//- 	{
	//- 	"@type": "BreadcrumbList",
	//- 	"itemListElement": [
	//- 		{
	//- 		"@type": "ListItem",
	//- 		"position": 1,
	//- 		"name": "Strona główna",
	//- 		"item": "https://toptapiclean.pl/"
	//- 		},
	//- 		{
	//- 		"@type": "ListItem",
	//- 		"position": 2,
	//- 		"name": "Pranie dywanów",
	//- 		"item": "https://toptapiclean.pl/pranie-dywanow.html"
	//- 		}
	//- 	]
	//- 	},
	//- 	{
	//- 	"@type": "Service",
	//- 	"name": "Pranie dywanów",
	//- 	"serviceType": "Czyszczenie i pranie dywanów",
	//- 	"description": "Profesjonalne pranie dywanów i wykładzin: usuwanie plam, brudu, sierści i zapachów. Obsługa w Nysie, Głuchołazach i Otmuchowie. Skutecznie i bezpiecznie.",
	//- 	"areaServed": [
	//- 		{
	//- 			"@type": "Place",
	//- 			"name": "Nysa"
	//- 		},
	//- 		{
	//- 			"@type": "Place",
	//- 			"name": "Głuchołazy"
	//- 		},
	//- 		{
	//- 			"@type": "Place",
	//- 			"name": "Otmuchów"
	//- 		}
	//- 	],
	//- 	"provider": {
	//- 	"@type": ["LocalBusiness", "CleaningService"],
	//- 	"name": "TopTapiClean",
	//- 	"url": "https://toptapiclean.pl",
	//- 	"telephone": "+48884412928",
	//- 	"email": "top.tap@wp.pl",
	//- 	"address": {
	//- 	"@type": "PostalAddress",
	//- 	"addressLocality": "Nysa",
	//- 	"addressCountry": "PL"
	//- 	}
	//- 	},
	//- 	"termsOfService": "https://toptapiclean.pl/",
	//- 	"availableChannel": {
	//- 	"@type": "ServiceChannel",
	//- 	"servicePhone": {
	//- 	"@type": "ContactPoint",
	//- 	"telephone": "+48884412928",
	//- 	"contactType": "customer service",
	//- 	"areaServed": "PL"
	//- 	}
	//- 	}
	//- 	},
	//- 	{
	//- 	"@type": "FAQPage",
	//- 	"mainEntity": [
	//- 	{
	//- 	"@type": "Question",
	//- 	"name": "Jakie dywany można czyścić?",
	//- 	"acceptedAnswer": {
	//- 	"@type": "Answer",
	//- 	"text": "Czyścimy dywany z wełny, syntetyczne, shaggy, perskie i wykładziny dywanowe. Dostosowujemy metodę do rodzaju włókna."
	//- 	}
	//- 	},
	//- 	{
	//- 	"@type": "Question",
	//- 	"name": "Czy można usunąć sierść i zapach zwierząt?",
	//- 	"acceptedAnswer": {
	//- 	"@type": "Answer",
	//- 	"text": "Tak. Usuwamy sierść oraz nieprzyjemne zapachy zwierząt domowych za pomocą specjalistycznych środków."
	//- 	}
	//- 	},
	//- 	{
	//- 	"@type": "Question",
	//- 	"name": "Jak długo schnie dywan po czyszczeniu?",
	//- 	"acceptedAnswer": {
	//- 	"@type": "Answer",
	//- 	"text": "Zwykle od 6 do 12 godzin. Czas zależy od grubości runa i warunków w pomieszczeniu. Dodatkowo oferujemy usługę suszenia, dzięki której po zakończeniu pracy i wyjeździe naszego specjalisty wszystkie czyszczone powierzchnie pozostają suche i gotowe do użytku."
	//- 	}
	//- 	},
	//- 	{
	//- 	"@type": "Question",
	//- 	"name": "Czy czyszczenie dywanów jest bezpieczne?",
	//- 	"acceptedAnswer": {
	//- 	"@type": "Answer",
	//- 	"text": "Tak. Stosujemy bezpieczne środki czyszczące, które są przyjazne dla dzieci, zwierząt i alergików."
	//- 	}
	//- 	}
	//- 	]
	//- 	}
	//- 	],
	//- 	"sameAs": [
	//- 	"https://www.facebook.com/profile.php?id=61558390682562",
	//- 	"https://www.tiktok.com/@toptapclean?_t=8lieXgIxd56&amp;_r=1",
	//- 	"https://goo.gl/maps/A5t7SypU83NrAAxQA"
	//- 	]
	//- 	}



append content
	script. 
		const initialCategory = 3;
	include components/header/header-2
	main
		include components/promo/promo-carpet
		include components/price/price
		//- include components/why
		include components/process/process
		include components/how
		include components/reviews/reviews-carpet
		include components/cta
		include components/works/works-carpet
		include components/faq/faq-carpet
		include components/contacts
		include components/popup
		include components/icons
	include components/footer

append scripts
