.beer-slider-wrapper
	.row.g-4 
		.col-12.col-lg-6
			h4.h6 Opis usługi prania dywanów:
			p Dywan to naturalny filtr w Twoim domu, który codziennie zbiera kurz, sierść, piasek i alergeny. Przywracamy Twoim dywanom świeżość, miękkość i nasycony kolor, używając profesjonalnego sprzętu i bezpiecznych środków czyszczących.
			#carpet-slider.beer-slider(data-beer-label="")
				picture
					source(type="image/webp" srcset="img/carpet-before-mob.webp" media="(max-width: 430px)")
					source(srcset="img/carpet-before-mob.png" media="(max-width: 430px)")
					source(type="image/webp" srcset="img/carpet-before.webp")
					img(src="img/carpet-before.png" alt="")
				.beer-reveal(data-beer-label="")
					picture
						source(type="image/webp" srcset="img/carpet-after-mob.webp" media="(max-width: 430px)")
						source(srcset="img/carpet-after-mob.png" media="(max-width: 430px)")
						source(type="image/webp" srcset="img/carpet-after.webp")
						img(src="img/carpet-after.png" alt="")
		.col-12.col-lg-6
			h3.h6 Proces prania dywanów:
			.row.row-cols-1.row-cols-sm-2.row-cols-lg-1.g-2
				.col 
					.card.palette-glass.rounded.bordered 
						div 1. Inspekcja i ocena: Określamy materiał, rodzaj dywanu i charakter zanieczyszczeń.
				.col 
					.card.palette-glass.rounded.bordered 
						div 2. Usuwanie suchego brudu: Gruntowne odkurzanie (trzepanie) z obu stron w celu usunięcia piasku i sierści.
				.col 
					.card.palette-glass.rounded.bordered 
						div 3. Aplikacja pre-spray: Nanosimy profesjonalny środek do rozpuszczania plam i głębokiego brudu.
				.col 
					.card.palette-glass.rounded.bordered 
						div 4. Pranie ekstrakcyjne: Wykonujemy głębokie czyszczenie ekstrakcyjne, usuwając wilgoć i zanieczyszczenia z wnętrza włókien.
				.col 
					.card.palette-glass.rounded.bordered 
						div 5. Suszenie i wykończenie: Przeprowadzamy finalne suszenie i czesanie runa (włókien) dywanu.
				.col 
					.card.palette-glass.rounded.bordered 
						div 6. Kontrola jakości: Sprawdzamy czystość, przywracamy pierwotny wygląd i oddajemy dywan Klientowi.
