.beer-slider-wrapper
	.row.g-4 
		.col-12.col-lg-6
			h4.h6 Opis Usługi Sprzątania:
			p Nasi specjaliści wykonują kompleksowe sprzątanie, które przywraca świeżość, czystość i porządek w Twoim domu. Używamy bezpiecznych i skutecznych środków myjących oraz profesjonalnego sprzętu, aby każda powierzchnia lśniła.
			p Ważna informacja: Podczas sprzątania personel nie przesuwa ciężkich mebli ani sprzętu AGD (pralki, lodówki, itd.), lecz sprząta w ich obrębie. Jeśli Klient życzy sobie sprzątania pod pralką, prosimy o samodzielne jej odsunięcie. Wykonawca sprząta, a Klient ustawia sprzęt z powrotem na miejsce. Usługa nie obejmuje mycia ścian i sufitów.
			#cleaning-slider.beer-slider.rounded(data-beer-label="")
				picture
					//- source(type="image/webp" srcset="img/cleaning-before-mob.webp" media="(max-width: 430px)")
					//- source(srcset="img/cleaning-before-mob.jpg" media="(max-width: 430px)")
					source(type="image/webp" srcset="img/cleaning-before.webp")
					img(src="img/cleaning-before.jpg" alt="")
				.beer-reveal(data-beer-label="")
					picture
						//- source(type="image/webp" srcset="img/cleaning-after-mob.webp" media="(max-width: 430px)")
						//- source(srcset="img/cleaning-after-mob.jpg" media="(max-width: 430px)")
						source(type="image/webp" srcset="img/cleaning-after.webp")
						img(src="img/cleaning-after.jpg" alt="")
		.col-12.col-lg-6
			h3.h6 Proces Sprzątania Standardowego:
			.row.row-cols-1.row-cols-sm-2.row-cols-lg-1.g-2
				.col 
					.card.palette-glass.rounded.bordered 
						div 1. Poprawianie rzeczy i pościelenie łóżka (opcjonalnie, na życzenie Klienta).
				.col 
					.card.palette-glass.rounded.bordered 
						div 2. Przecieranie kurzu ze wszystkich dostępnych powierzchni: mebli, sprzętów, lamp i parapetów.
				.col 
					.card.palette-glass.rounded.bordered 
						div 3. Mycie i nabłyszczanie lustrzanych oraz szklanych elementów.
				.col 
					.card.palette-glass.rounded.bordered 
						div 4. Mycie i dezynfekcja łazienek/toalet: czyszczenie umywalek, baterii, wanny, toalety i płytek.
				.col 
					.card.palette-glass.rounded.bordered 
						div 5. Odkurzanie dywanów, mycie podłóg na błysk oraz przecieranie listew przypodłogowych.
				.col 
					.card.palette-glass.rounded.bordered 
						div 6. Opróżnianie koszy na śmieci i wynoszenie odpadów.