.beer-slider-wrapper
	.row.g-4 
		.col-12.col-lg-6
			h4.h6 Opis usługi prania tapicerki:
			p Pranie tapicerki meblowej to dogłębne i delikatne czyszczenie tkanin z kurzu, plam, nieprzyjemnych zapachów oraz alergenów. Używamy profesjonalnego sprzętu ekstrakcyjnego i środków hipoalergicznych, bezpiecznych dla Twojej rodziny i zwierząt domowych.
			#furniture-slider.beer-slider(data-beer-label="")
				picture
					source(type="image/webp" srcset="img/sofa-before-mob.webp" media="(max-width: 430px)")
					source(srcset="img/sofa-before-mob.png" media="(max-width: 430px)")
					source(type="image/webp" srcset="img/sofa-before.webp")
					img(src="img/sofa-before.png" alt="")
				.beer-reveal(data-beer-label="")
					picture
						source(type="image/webp" srcset="img/sofa-after-mob.webp" media="(max-width: 430px)")
						source(srcset="img/sofa-after-mob.png" media="(max-width: 430px)")
						source(type="image/webp" srcset="img/sofa-after.webp")
						img(src="img/sofa-after.png" alt="")
		.col-12.col-lg-6
			h3.h6 Proces prania tapicerki:
			.row.row-cols-1.row-cols-sm-2.row-cols-lg-1.g-2
				.col 
					.card.palette-glass.rounded.bordered 
						div 1. Inspekcja: Oglądamy mebel i określamy rodzaj tkaniny oraz typ zanieczyszczeń.
				.col 
					.card.palette-glass.rounded.bordered 
						div 2. Test bezpieczeństwa: Sprawdzamy trwałość koloru i odporność materiału na środki czyszczące.
				.col 
					.card.palette-glass.rounded.bordered 
						div 3. Pre-spray i odplamianie: Nanosimy odpowiedni środek do rozpuszczania brudu i miejscowo usuwamy plamy.
				.col 
					.card.palette-glass.rounded.bordered 
						div 4. Pranie ekstrakcyjne: Wykonujemy maszynowe czyszczenie ekstrakcyjne, usuwając brud i resztki detergentu.
				.col 
					.card.palette-glass.rounded.bordered 
						div 5. Suszenie: Powierzchnia jest poddawana wstępnemu suszeniu za pomocą ekstraktora lub wymiany powietrza.
				.col 
					.card.palette-glass.rounded.bordered 
						div 6. Impregnacja (opcjonalnie): W razie potrzeby nanosimy środek ochronny (impregnat) zapobiegający ponownemu zabrudzeniu.