.beer-slider-wrapper
	.row.g-4 
		.col-12.col-lg-6
			h4.h6 Opis Usługi:
			p Materac każdego dnia gromadzi kurz, pot, alergeny i mikroorganizmy. Profesjonalne czyszczenie pozwala usunąć uporczywe plamy i zapachy, zapewniając higieniczne miejsce do spania, wolne od bakterii i roztoczy.
			#mattress-slider.beer-slider(data-beer-label="")
				picture
					source(type="image/webp" srcset="img/mattress-before-mob.webp" media="(max-width: 430px)")
					source(srcset="img/mattress-before-mob.png" media="(max-width: 430px)")
					source(type="image/webp" srcset="img/mattress-before.webp")
					img(src="img/mattress-before.png" alt="")
				.beer-reveal(data-beer-label="")
					picture
						source(type="image/webp" srcset="img/mattress-after-mob.webp" media="(max-width: 430px)")
						source(srcset="img/mattress-after-mob.png" media="(max-width: 430px)")
						source(type="image/webp" srcset="img/mattress-after.webp")
						img(src="img/mattress-after.png" alt="")
		.col-12.col-lg-6
			h3.h6 Proces Prania Materacy:
			.row.row-cols-1.row-cols-sm-2.row-cols-lg-1.g-2
				.col 
					.card.palette-glass.rounded.bordered 
						div 1. Inspekcja: Oglądamy materac, określamy rodzaj tkaniny i charakter zabrudzeń.
				.col 
					.card.palette-glass.rounded.bordered 
						div 2. Usuwanie kurzu: Wykonujemy dogłębne czyszczenie na sucho w celu usunięcia alergenów i luźnego brudu.
				.col 
					.card.palette-glass.rounded.bordered 
						div 3. Pre-spray i odplamianie: Nanosimy środek czyszczący do głębokiego usuwania plam i zabrudzeń.
				.col 
					.card.palette-glass.rounded.bordered 
						div 4. Pranie ekstrakcyjne: Wykonujemy mokre czyszczenie ekstrakcyjne za pomocą specjalistycznego sprzętu.
				.col 
					.card.card.palette-glass.rounded.bordered 
						div 5. Odsysanie wilgoci: Usuwamy resztki wilgoci z materaca, co skraca czas schnięcia.
				.col 
					.card.palette-glass.rounded.bordered 
						div 6. Dezynfekcja: W razie potrzeby aplikujemy środek antybakteryjny i antyalergiczny.