section.faq#faq.bg.bg-dark
	.container
		.row.gx-5.gy-0 
			.col-12.col-lg-5.col-xl-4 
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left.d-none.d-lg-block
					.semicircles.semicircles-bottom.semicircles-right.d-none.d-lg-block
					.mask__inner(data-aos="fade-down" data-aos-delay="100") 
						h2.mask__title Najczęstsze pytania
						h3.h2.h6.mask__subtitle Znajdź odpowiedzi na najczęstsze pytania dotyczące prania tapicerki meblowej
						p.text-center
							include ../cta-button
			.col-12.col-lg-7.col-xl-8.align-self-center(data-aos="fade-in" data-aos-delay="200") 
				.block
					.accordion
						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Jak często należy prać tapicerkę meblową w domu?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-1(type="button" aria-expanded="false" aria-controls="faq-item-1") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-1(aria-labelledby="accordion-btn-1")
								div Tapicerkę zaleca się prać co 6–12 miesięcy, w zależności od intensywności użytkowania i obecności dzieci lub zwierząt w domu.
						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy pranie kanapy usuwa roztocza i alergeny?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-2(type="button" aria-expanded="false" aria-controls="faq-item-2") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-2(aria-labelledby="accordion-btn-2")
								div Tak, profesjonalne pranie skutecznie usuwa roztocza, kurz i alergeny, poprawiając jakość powietrza w pomieszczeniu.
						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Ile czasu schnie tapicerka po profesjonalnym czyszczeniu?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-3(type="button" aria-expanded="false" aria-controls="faq-item-3") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-3(aria-labelledby="accordion-btn-3")
								div Zwykle proces schnięcia trwa od 4 do 8 godzin, w zależności od rodzaju materiału i wentylacji pomieszczenia, lub skorzystaj z usługi suszenia.
						.accordion-item.card.palette-glass.rounded.bordered 
							.accordion-item__header
								h2.h6.accordion-item__title Czy wszystkie plamy da się całkowicie usunąć?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-4(type="button" aria-expanded="false" aria-controls="faq-item-4") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-4(aria-labelledby="accordion-btn-4")
								div Większość świeżych i typowych zabrudzeń można usunąć, jednak stare i głęboko wchłonięte plamy mogą pozostać mniej widoczne, ale nie zawsze znikają całkowicie.
						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy pranie mebli jest bezpieczne dla dzieci i zwierząt?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-5(type="button" aria-expanded="false" aria-controls="faq-item-5") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-5(aria-labelledby="accordion-btn-5")
								div Tak, stosujemy środki czyszczące, które są bezpieczne dla zdrowia i nie pozostawiają szkodliwych resztek w tapicerce.