section.faq#faq.bg.bg-dark
	.container
		.row.gx-5.gy-0 
			.col-12.col-lg-5.col-xl-4 
				.mask 
					.triangle.triangle-135.top-inner.left-inner
					.triangle.triangle-45.top-inner.right-inner
					.triangle.triangle-225.bottom-inner.left-inner
					.triangle.triangle-315.bottom-inner.right-inner
					.triangle.triangle-45.top-inner.left-outer.offset-x-p
					.triangle.triangle-315.bottom-inner.left-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-135.top-inner.right-outer.offset-x-p
					.triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
					.triangle.triangle-225.triangle-fill.bottom-inner.left-inner.offset-x-n.d-lg-none.correction-y-n
					.line.line-v-100.top-inner.right-outer
					.line.line-v-100.top-inner.left-outer
					.line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
					.mask__inner(data-aos="fade-down" data-aos-delay="100") 
						h2.mask__title Najczęstsze pytania
						h3.h2.h6.mask__subtitle Znajdź odpowiedzi na najczęstsze pytania dotyczące prania dywanów
						p.text-center
							include ../cta-button
			.col-12.col-lg-7.col-xl-8.align-self-center(data-aos="fade-in" data-aos-delay="200") 
				.block
					.accordion
						.accordion-item.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Jakie dywany można czyścić?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-1(type="button" aria-expanded="false" aria-controls="faq-item-1") 
									span.sr-only Toggle cards
									span.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
									span.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
									span.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
									span.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-1(aria-labelledby="accordion-btn-1")
								div Czyścimy dywany z wełny, syntetyczne, shaggy, perskie i wykładziny dywanowe. Dostosowujemy metodę do rodzaju włókna.
						.accordion-item.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy można usunąć sierść i zapach zwierząt?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-2(type="button" aria-expanded="false" aria-controls="faq-item-2") 
									span.sr-only Toggle cards
									span.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
									span.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
									span.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
									span.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-2(aria-labelledby="accordion-btn-2")
								div Tak. Usuwamy sierść oraz nieprzyjemne zapachy zwierząt domowych za pomocą specjalistycznych środków.
						.accordion-item.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Jak długo schnie dywan po czyszczeniu?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-3(type="button" aria-expanded="false" aria-controls="faq-item-3") 
									span.sr-only Toggle cards
									span.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
									span.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
									span.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
									span.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-3(aria-labelledby="accordion-btn-3")
								div Zwykle od 6 do 12 godzin. Czas zależy od grubości runa i warunków w pomieszczeniu. Dodatkowo oferujemy usługę suszenia, dzięki której po zakończeniu pracy i wyjeździe naszego specjalisty wszystkie czyszczone powierzchnie pozostają suche i gotowe do użytku.
						.accordion-item.card.card-primary-outline 
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy czyszczenie dywanów jest bezpieczne?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-4(type="button" aria-expanded="false" aria-controls="faq-item-4") 
									span.sr-only Toggle cards
									span.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
									span.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
									span.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
									span.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-4(aria-labelledby="accordion-btn-4")
								div Tak. Stosujemy bezpieczne środki czyszczące, które są przyjazne dla dzieci, zwierząt i alergików.