section.faq#faq.bg.bg-dark
	.container
		.row.gx-5.gy-0 
			.col-12.col-lg-5.col-xl-4 
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left.d-none.d-lg-block
					.semicircles.semicircles-bottom.semicircles-right.d-none.d-lg-block
					.mask__inner(data-aos="fade-down" data-aos-delay="100") 
						h2.mask__title Najczęstsze pytania
						h3.h2.h6.mask__subtitle Poznaj odpowiedzi na najczęstsze pytania
						.mask__timer
							include ../timer
			.col-12.col-lg-7.col-xl-8.align-self-center(data-aos="fade-in" data-aos-delay="200") 
				.block
					.accordion
						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Co wchodzi w skład standardowego sprzątania mieszkania?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-1(type="button" aria-expanded="false" aria-controls="faq-item-1") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-1(aria-labelledby="accordion-btn-1")
								div Standardowe sprzątanie obejmuje kompleksowe czyszczenie wszystkich pokoi, kuchni, łazienki i korytarza. Przecieramy kurz ze wszystkich dostępnych powierzchni, myjemy podłogi, lustra, sanitariaty i strefy kuchenne, odkurzamy dywany, porządkujemy rzeczy i ścielimy łóżko (na życzenie klienta).

						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy można zamówić dodatkowe usługi wraz ze sprzątaniem?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-2(type="button" aria-expanded="false" aria-controls="faq-item-2") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-2(aria-labelledby="accordion-btn-2")
								div Tak, oczywiście. Dodatkowe opcje obejmują mycie okien, lodówki, piekarnika, szafek kuchennych, balkonu, okapu, a także prasowanie odzieży. Możesz dodać potrzebne usługi podczas składania zamówienia lub poinformować o nich pracownika na miejscu.

						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy sprzątacie po remoncie?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-3(type="button" aria-expanded="false" aria-controls="faq-item-3") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-3(aria-labelledby="accordion-btn-3")
								div Tak, wykonujemy sprzątanie mieszkań i domów po remoncie. Obejmuje ono całkowite oczyszczenie wszystkich powierzchni z pyłu budowlanego, przecieranie mebli, sprzętu AGD, wewnętrznych części szaf i półek. Mycie okien można zamówić jako usługę dodatkową.

						.accordion-item.card.palette-glass.rounded.bordered 
							.accordion-item__header
								h2.h6.accordion-item__title Czy przesuwacie meble i sprzęt AGD podczas sprzątania?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-4(type="button" aria-expanded="false" aria-controls="faq-item-4") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-4(aria-labelledby="accordion-btn-4")
								div Nie, personel nie przesuwa mebli ani ciężkiego sprzętu. Jeżeli Klient chce, abyśmy posprzątali pod pralką lub lodówką, może samodzielnie je odsunąć przed rozpoczęciem sprzątania – my posprzątamy pod nimi i przywrócimy wszystko do porządku.

						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy używacie bezpiecznych środków czyszczących?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-5(type="button" aria-expanded="false" aria-controls="faq-item-5") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-5(aria-labelledby="accordion-btn-5")
								div Tak, używamy wyłącznie profesjonalnych, certyfikowanych i hipoalergicznych środków czyszczących, bezpiecznych dla dzieci, zwierząt domowych oraz wszystkich typów powierzchni.