section.faq#faq.bg.bg-dark
	.container
		.row.gx-5.gy-0 
			.col-12.col-lg-5.col-xl-4 
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left.d-none.d-lg-block
					.semicircles.semicircles-bottom.semicircles-right.d-none.d-lg-block
					.mask__inner(data-aos="fade-down" data-aos-delay="100") 
						h2.mask__title Najczęstsze pytania
						h3.h2.h6.mask__subtitle Poznaj odpowiedzi na najczęstsze pytania
						.mask__timer
							include ../timer
			.col-12.col-lg-7.col-xl-8.align-self-center(data-aos="fade-in" data-aos-delay="200") 
				.block
					.accordion
						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Co wchodzi w zakres standardowego sprzątania mieszkania lub domu?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-1(type="button" aria-expanded="false" aria-controls="faq-item-1") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-1(aria-labelledby="accordion-btn-1")
								div Standardowe sprzątanie obejmuje pełen zakres prac: przecieranie wszystkich powierzchni z kurzu, mycie podłóg, luster, sanitariatów, stref kuchennych i listew przypodłogowych, odkurzanie dywanów, a także delikatne porządkowanie rzeczy i pościelenie łóżka (na życzenie Klienta).

						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Jakie dodatkowe usługi można zamówić ze sprzątaniem?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-2(type="button" aria-expanded="false" aria-controls="faq-item-2") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-2(aria-labelledby="accordion-btn-2")
								div Możesz dodać mycie okien, piekarnika, lodówki, szafek kuchennych, balkonu, okapu, a także prasowanie odzieży lub sprzątanie drugiej łazienki/toalety. Wszystkie opcje można wybrać podczas składania zamówienia, aby stworzyć indywidualny pakiet usług.

						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy wykonujecie sprzątanie po remoncie?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-3(type="button" aria-expanded="false" aria-controls="faq-item-3") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-3(aria-labelledby="accordion-btn-3")
								div Tak, wykonujemy gruntowne sprzątanie po remontach mieszkań i domów. Obejmuje ono oczyszczanie wszystkich powierzchni z pyłu i resztek budowlanych, a także sprzątanie wewnętrznych części szaf i mebli. Mycie okien i inne opcje można dodać osobno.

						.accordion-item.card.palette-glass.rounded.bordered 
							.accordion-item__header
								h2.h6.accordion-item__title Czy prowadzicie profesjonalne pranie tapicerki meblowej?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-4(type="button" aria-expanded="false" aria-controls="faq-item-4") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-4(aria-labelledby="accordion-btn-4")
								div Tak, wykonujemy pranie sof, foteli, krzeseł, poduszek i narożników. Używamy profesjonalnego sprzętu i środków hipoalergicznych, które usuwają plamy, zapachy i kurz, nie uszkadzając tkaniny.

						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy można zamówić pranie materaca lub dywanu razem ze sprzątaniem?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-5(type="button" aria-expanded="false" aria-controls="faq-item-5") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-5(aria-labelledby="accordion-btn-5")
								div Oczywiście. Możesz połączyć sprzątanie z praniem materaca lub dywanu – jest to wygodne i opłacalne. Po czyszczeniu znikają plamy, zapachy i alergeny, a produkty stają się świeże i bezpieczne do snu i wypoczynku.

						.accordion-item.card.palette-glass.rounded.bordered
							.accordion-item__header
								h2.h6.accordion-item__title Czy Wasze środki czyszczące są bezpieczne?
								button.accordion-item__btn.btn.size-small.palette-glass.rounded.bordered#accordion-btn-5(type="button" aria-expanded="false" aria-controls="faq-item-6") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-5(aria-labelledby="accordion-btn-6")
								div Tak, używamy wyłącznie środków certyfikowanych i bezpiecznych dla zdrowia. Nie zawierają one agresywnych chemikaliów, są odpowiednie dla rodzin z dziećmi i zwierzętami domowymi oraz skutecznie usuwają każdy rodzaj zanieczyszczeń.