section.faq#faq.bg.bg-dark
	.container
		.row.gx-5.gy-0 
			.col-12.col-lg-5.col-xl-4 
				.mask 
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left
					.semicircles.semicircles-bottom.semicircles-right
					.mask__inner(data-aos="fade-down" data-aos-delay="100") 
						h2.mask__title Najczęstsze pytania
						h3.h2.h6.mask__subtitle Poznaj odpowiedzi na najczęstsze pytania
						.mask__timer
							include ../timer
			.col-12.col-lg-7.col-xl-8.align-self-center(data-aos="fade-in" data-aos-delay="200") 
				.block
					.accordion
						.accordion-item.card.card-primary-outline.card-rounded
							.accordion-item__header
								h2.h6.accordion-item__title Jak często należy czyścić meble tapicerowane?
								button.accordion-item__btn.btn.btn-small.btn-primary.btn-rounded#accordion-btn-1(type="button" aria-expanded="false" aria-controls="faq-item-1") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-1(aria-labelledby="accordion-btn-1")
								div Zalecamy profesjonalne czyszczenie tapicerki meblowej co 6–12 miesięcy. W domach, gdzie są dzieci, zwierzęta domowe lub osoby cierpiące na alergie, warto robić to częściej, aby meble pozostały czyste i świeże.
						.accordion-item.card.card-primary-outline.card-rounded
							.accordion-item__header
								h2.h6.accordion-item__title Czy można usunąć wszystkie plamy?
								button.accordion-item__btn.btn.btn-small.btn-primary.btn-rounded#accordion-btn-2(type="button" aria-expanded="false" aria-controls="faq-item-2") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-2(aria-labelledby="accordion-btn-2")
								div Większość plam można skutecznie usunąć, ale wszystko zależy od rodzaju plamy, czasu jej obecności oraz wcześniejszych prób czyszczenia. Niektóre uporczywe plamy mogą pozostawić niewielkie przebarwienia.
						.accordion-item.card.card-primary-outline.card-rounded
							.accordion-item__header
								h2.h6.accordion-item__title Ile czasu potrzebuje tapicerka, aby wyschła po czyszczeniu?
								button.accordion-item__btn.btn.btn-small.btn-primary.btn-rounded#accordion-btn-3(type="button" aria-expanded="false" aria-controls="faq-item-3") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-3(aria-labelledby="accordion-btn-3")
								div Czas schnięcia zależy od rodzaju materiału oraz warunków w pomieszczeniu. Zazwyczaj zajmuje to od 5 do 12 godzin. Tapicerka schnie szybciej w ciepłym i dobrze wentylowanym miejscu. Za dodatkową opłatą zgodnie z cennikiem można skorzystać z usługi przyspieszonego suszenia.
						.accordion-item.card.card-primary-outline.card-rounded 
							.accordion-item__header
								h2.h6.accordion-item__title Czy środki czyszczące są bezpieczne dla dzieci i zwierząt domowych?
								button.accordion-item__btn.btn.btn-small.btn-primary.btn-rounded#accordion-btn-4(type="button" aria-expanded="false" aria-controls="faq-item-4") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-4(aria-labelledby="accordion-btn-4")
								div Tak. Używamy certyfikowanych środków, które są bezpieczne i nie powodują alergii. Po czyszczeniu zalecamy nie korzystać z mebli, dopóki całkowicie nie wyschną.
						.accordion-item.card.card-primary-outline.card-rounded
							.accordion-item__header
								h2.h6.accordion-item__title Jak przygotować meble do czyszczenia?
								button.accordion-item__btn.btn.btn-small.btn-primary.btn-rounded#accordion-btn-5(type="button" aria-expanded="false" aria-controls="faq-item-5") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-5(aria-labelledby="accordion-btn-5")
								div Wystarczy usunąć poduszki, koce i inne przedmioty z mebli. Nie ma potrzeby ich przestawiać ani przesuwać — wszystkim zajmiemy się na miejscu.