.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Dywan/wykładzina
		.price-item__value od 25zł/m2
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Pranie wykładzin do 30m2
		.price-item__value od 20złzł/m2
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Pranie wykładzin powyżej 100m2
		.price-item__value wycena indywidualna
.col-12 
	i 
		small * Minimalny koszt wyjazdu 130zł.