.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered 
		h5.h6 Dywan/wykładzina
		p.price-value od 20-25zł/m2
//- .col-12 
//- 	i 
//- 		small * Minimalny koszt wyjazdu 130zł.