.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Уборка квартиры 1-2 комнаты, коридор, туалет
		p.price-value 200zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Уборка квартиры 3-4 комнаты, коридор, туалет
		p.price-value 250-300zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Уборка квартиры 5-6 комнат, коридор, туалет
		p.price-value 400zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Уборка квартиры после ремонта
		p.price-value od 700zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Уборка дома после ремонта до 100м2
		p.price-value od 1300zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Уборка дома после ремонта до 120-130м2
		p.price-value od 1500zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 * Дополнительный 2-й туалет/ванная
		p.price-value 100zl
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка духовки
		p.price-value 50zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка микроволновки
		p.price-value 30zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка холодильника
		p.price-value 80zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка внутренних шкафов кухни 
		p.price-value 100zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка внутренних частей шкафов/гардеробов
		p.price-value od 50zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка вытяжки
		p.price-value 50zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка кошачьего туалета
		p.price-value 30zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Глажка одежды
		p.price-value 50zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка окон (стандарт)*
		p.price-value 30zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка балконных окон*
		p.price-value od 60zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Мойка панорманых окон*
		p.price-value od 80zł
.col-12 
	i 
		small * В стоимость входит мойка рам и окна с 2-х