.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Sprzątanie mieszkania 1-2 pokoje, korytarz, toaleta
		p.price-value 200zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Sprzątanie mieszkania 3-4 pokoje, korytarz, toaleta
		p.price-value 250-300zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Sprzątanie mieszkania 5-6 pokoi, korytarz, toaleta
		p.price-value 400zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Sprzątanie mieszkania po remoncie
		p.price-value od 700zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Sprzątanie domu po remoncie do 100m2
		p.price-value od 1300zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Sprzątanie domu po remoncie do 120-130m2
		p.price-value od 1500zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 * Dodatkowa 2. toaleta/łazienka
		p.price-value 100zl
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie piekarnika
		p.price-value 50zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie kuchenki mikrofalowej
		p.price-value 30zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie lodówki
		p.price-value 80zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie wewnętrznych szafek kuchennych
		p.price-value 100zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie wewnętrznych części szaf/garderób
		p.price-value od 50zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie okapu
		p.price-value 50zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie kuwety dla kota
		p.price-value 30zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Prasowanie odzieży
		p.price-value 50zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie okien (standard)*
		p.price-value 30zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie okien balkonowych*
		p.price-value od 60zł
.col-6.col-md-4.col-xxl-3
	.card.palette-glass.rounded.bordered
		h5.h6 Mycie okien panoramicznych*
		p.price-value od 80zł
.col-12
	i
		small * Cena obejmuje mycie ram i okna z 2 stron (obustronnie)