.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Narożnik typu litery L bez poduch
		.price-item__value od 260zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Narożnik typu litery U bez poduch
		.price-item__value od 400zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Kanapa, wersalka
		.price-item__value od 220zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Fotel rozkladany / Uszak
		.price-item__value od 100zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Krzesła
		.price-item__value od 25zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Poducha meblowa
		.price-item__value od 20zł/szt
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Pranie foteli biurowych
		.price-item__value od 35zł/szt
.col-12 
	i  
		small * Czyszczenie mebli skórzanych +30% od standardowej ceny.
	br
	i 
		small ** Minimalny koszt wyjazdu 130zł.