.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Narożnik w kształcie litery L, 4-osobowy
		p.price-value 200zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Narożnik w kształcie litery L, 5-6 miejsc
		p.price-value 280zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Narożnik w kształcie litery L, 7+ miejsc
		p.price-value 320zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Taboret
		p.price-value 15zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Podnóżek / Pufa
		p.price-value 15zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Fotel
		p.price-value od 100zł