.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Уголок L 4х местный
		p.price-value 200zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Уголок L 5-6 мест
		p.price-value 280zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Уголок L 7+ мест
		p.price-value 320zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Табуерт
		p.price-value 15zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Фотель
		p.price-value 15zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Кресло
		p.price-value od 100zł
//- .col-12 
//- 	i  
//- 		small * Czyszczenie mebli skórzanych +30% od standardowej ceny.
//- 	br
//- 	i 
//- 		small ** Minimalny koszt wyjazdu 130zł.