.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Czyszczenie materaca z jednej strony
		p.price-value od 110zl
.col-6.col-md-4.col-xxl-3.price-table__col
	.card.palette-glass.rounded.bordered
		h5.h6 Czyszczenie materaca z dwóch stron
		p.price-value od 200zl