.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Pranie tapicerki samochodowej (fotele przód+kanapa tylna)
		.price-item__value od 250zł
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item 
		h5.h6.price-item__title Kompleksowe czyszczenie wnętrz auta (pranie tapicerki, podłogi, bagażnik, plastikowe elementy, kokpit, boczki, mycie szyb, podsufitka) 
		.price-item__value od 700zł
.col-12 
	i 
		small * Minimalny koszt wyjazdu 130zł.