section.about#about.bg.bg-dark 
	.container
		.row.gx-5.gy-0
			.col-12.col-lg-5.col-xl-4
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left.d-none.d-lg-block
					.semicircles.semicircles-bottom.semicircles-right.d-none.d-lg-block
					.mask__inner(data-aos="fade-down" data-aos-delay="100")
						h2.mask__title O nas
						h3.h6.mask__subtitle Zespół, który kocha swoją pracę i ceni Twój czas
						.mask__timer
							include timer
			.col-12.col-lg-7.col-xl-8.align-self-center 
				.block
					.about__info(data-aos="fade-left" data-aos-delay="200")
						p Skylyclean to doświadczona firma sprzątająca z Katowic, specjalizująca się w kompleksowym sprzątaniu mieszkań i domów. Działamy na terenie całego regionu, oferując szybkie i profesjonalne usługi dopasowane do Twoich potrzeb.
						p Jesteśmy ekspertami w gruntownym czyszczeniu – od sprzątania po remoncie i mycia kuchni, po pranie tapicerki, dywanów oraz dezynfekcję materacy. Używamy wyłącznie profesjonalnych i bezpiecznych środków oraz sprzętu ekstrakcyjnego.
						p Zespół doświadczonych specjalistów gwarantuje najwyższą jakość wykonania, dbałość o detale i pełną punktualność. Zaufaj nam i odzyskaj czas dla siebie!