section.how#how.bg.bg-dark
	.container
		.row.gx-5.gy-0
			.col-12.col-lg-5.col-xl-4
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left
					.semicircles.semicircles-bottom.semicircles-right
					.mask__inner(data-aos="fade-down" data-aos-delay="100")
						h2.mask__title Jak działamy?
						h3.h6.mask__subtitle Zobacz, jak wygląda cały proces realizacji usługi
						.mask__timer
							include timer
			.col-12.col-lg-7.col-xl-8.align-self-center 
				.block
					.row.g-4.align-items-center.justify-content-center 
						.col-12(data-aos="fade-left" data-aos-delay="200")
							.row.g-2 
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded.card-bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#contact")
											h4.h6.card__title.mb-0 Skontaktuj się z nami
										.card__body Omówimy szczegóły Twojego zamówienia, ustalając datę, godzinę i adres realizacji usługi
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded.card-bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#process")
											h4.h6.card__title.mb-0 Realizacja zamówienia
										.card__body W dniu realizacji nasz specjalista przywiezie cały niezbędny sprzęt i środki czyszczące, a następnie wykona usługę
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded.card-bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#cash")
											h4.h6.card__title.mb-0 Płatność
										.card__body Po zakończeniu pracy dokonasz płatności w dogodny dla Ciebie sposób
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded.card-bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#result")
											h4.h6.card__title.mb-0 Gotowe
										.card__body Teraz pozostaje tylko cieszyć się efektem czyszczenia!