.logo
	img(src="img/logo.webp", alt="", width="70")
	//- span.sr-only CleanTapi logo
	//- svg(class="logo-icon" width="70" height="70" viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg")
	//- 	use(href="#result" class="logo-icon__sofa",)
	//- 	circle(cx="100" cy="100" r="80" fill="none" stroke="#1c9862" stroke-width="10" class="logo-icon__circle-inner animation-circle")
	//- 	circle(class="logo-icon__circle-outer animation-circle" cx="100" cy="100" r="90" fill="none" stroke="#01352c" stroke-width="10" stroke-dasharray="0, 565" stroke-dashoffset="0",)
	//- 	text(class="logo-icon__text" x="100" y="170" text-anchor="middle" dominant-baseline="middle" font-size="36" data-aos="fade-in") CLEANTAPI