section.process#process-cleaning.block
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.process__title.text-uppercase.mb-0 Proces prania
					.col-auto(data-aos="fade-left")
						include cta-button
					.col-12(data-aos="fade-in")
						h3.h6.process__subtitle.text-light.mb-0 Zobacz, jak wygląda cały proces czyszczenia tapicerki
			.col-12 
				.row.g-2
					.col-12.col-xl-8.d-flex.flex-column(data-aos="fade-in") 
						.categories-navigation
							.categories-navigation-swiper 
								.swiper-button-next.categories-button-arrow
								.swiper-button-prev.categories-button-arrow
								.swiper-wrapper 
									.swiper-slide
										button.btn.btn-primary.btn-small.category-btn.btn-rounded-top.btn-bordered-top(type="button") 
											span.category-btn__text Sprzątanie
									.swiper-slide
										button.btn.btn-primary.btn-small.category-btn.btn-rounded-top.btn-bordered-top(type="button") 
											span.category-btn__text Tapicerka meblowa
									.swiper-slide
										button.btn.btn-primary.btn-small.category-btn.btn-rounded-top.btn-bordered-top(type="button") 
											span.category-btn__text Materace
									.swiper-slide
										button.btn.btn-primary.btn-small.category-btn.btn-rounded-top.btn-bordered-top(type="button") 
											span.category-btn__text Dywany
									//- .swiper-slide
									//- 	button.btn.btn-primary.btn-small.category-btn.btn-rounded-top.btn-bordered-top(type="button") 
									//- 		span.category-btn__text Tapicerka samochodowa
									//- .swiper-slide
									//- 	button.btn.btn-primary.btn-small.category-btn.btn-rounded-top.btn-bordered-top(type="button") 
									//- 		span.category-btn__text Okna
						.categories-content.flex-grow-1.d-flex.align-items-center.card.card-primary-outline.card-bordered-bottom.card-rounded-bottom 
							.swiper.categories-content-swiper(data-disallow-touch="true") 
								.swiper-wrapper 
									.swiper-slide.h-auto
										include before-after/cleaning
									.swiper-slide.h-auto
										include before-after/furniture
									.swiper-slide.h-auto
										include before-after/mattress
									.swiper-slide.h-auto
										include before-after/carpet
									//- .swiper-slide.h-auto
									//- 	include before-after/salon
									//- .swiper-slide.h-auto
									//- 	include before-after/window
					.col-12.col-xl-4.p-relative.index-2(data-aos="fade-in") 
						.row.g-2
							.col-12.col-sm-6.col-lg-6.col-xl-12
								.card.card-primary-outline.card-rounded.card-bordered
									.card__header
										.card__icon 
											svg(width="48" height="48")
												use(href="#rating")
										h4.h6.card__title.mb-0 
											span.h3 1. 
											| Ocena stanu i identyfikacja zabrudzeń
							.col-12.col-sm-6.col-lg-6.col-xl-12
								.card.card-primary-outline.card-rounded.card-bordered
									.card__header
										.card__icon 
											svg(width="48" height="48")
												use(href="#dry-cleaning")
										h4.h6.card__title.mb-0 
											span.h3 2. 
											| Usuwanie kurzu i przygotowanie na sucho
							.col-12.col-sm-6.col-lg-6.col-xl-12
								.card.card-primary-outline.card-rounded.card-bordered
									.card__header
										.card__icon
											svg(width="48" height="48")
												use(href="#detergent")
										h4.h6.card__title.mb-0 
											span.h3 3. 
											| Naniesienie środka czyszczącego
							.col-12.col-sm-6.col-lg-6.col-xl-12
								.card.card-primary-outline.card-rounded.card-bordered
									.card__header
										.card__icon 
											svg(width="48" height="48")
												use(href="#process")
										h4.h6.card__title.mb-0 
											span.h3 4. 
											| Głębokie czyszczenie ekstrakcyjne
							.col-12.col-sm-6.col-lg-6.col-xl-12
								.card.card-primary-outline.card-rounded.card-bordered
									.card__header
										.card__icon 
											svg(width="48" height="48")
												use(href="#local-cleaning")
										h4.h6.card__title.mb-0 
											span.h3 5. 
											| Lokalne usuwanie uporczywych plam
							.col-12.col-sm-6.col-lg-6.col-xl-12
								.card.card-primary-outline.card-rounded.card-bordered
									.card__header
										.card__icon 
											svg(width="48" height="48")
												use(href="#result")
										h4.h6.card__title.mb-0 
											span.h3 6. 
											| Suszenie i końcowa kontrola jakości
