section.services#services.block.bg.bg-light.bg-light-1
	.container
		.row.g-4
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right") 
						h2.services__title.text-uppercase.mb-0 Usługi
					.col-auto(data-aos="fade-left")  
						.swiper-navigation
							.services-button-prev.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.services-button-next.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in")
						h3.h6.services__subtitle.text-light.mb-0 Kompleksowe czyszczenie i sprzątanie: od mycia kuchni i łazienek, po profesjonalne pranie tapicerki, dywanów i materacy
			.col-12(data-aos="fade-in" data-aos-delay="100")  
				.swiper.services-swiper.overflow-visible  
					.swiper-wrapper.h-auto
						.swiper-slide.h-auto
							.service.card.palette-glass.rounded.bordered
								.service__header
									picture.service__img
										source(srcset="img/service-cleaning.webp" type="image/webp")
										img(src="img/service-cleaning.jpg" alt="Pranie tapicerki meblowej" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Sprzątanie mieszkań i domów
									.service__description Skutecznie sprzątamy mieszkania i domy — usuwamy kurz, brud oraz nieprzyjemne zapachy z każdej powierzchni, pozostawiając wnętrze czyste i świeże.
								.service__footer 
									a.service__more(href="./pranie-tapicerki-meblowej.html") Więcej informacji
						.swiper-slide.h-auto
							.service.card.palette-glass.rounded.bordered
								.service__header
									picture.service__img
										source(srcset="img/service-furniture.webp" type="image/webp")
										img(src="img/service-furniture.jpg" alt="Pranie tapicerki meblowej" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Pranie tapicerki meblowej
									.service__description Skutecznie usuwamy plamy i nieprzyjemne zapachy ze wszystkich rodzajów mebli tapicerowanych: sof, foteli, krzeseł.
								.service__footer 
									a.service__more(href="./pranie-tapicerki-meblowej.html") Więcej informacji
						.swiper-slide.h-auto
							.service.card.palette-glass.rounded.bordered
								.service__header
									picture.service__img
										source(srcset="img/service-mattress.webp" type="image/webp")
										img(src="img/service-mattress.jpg" alt="Pranie materacy" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Pranie materacy
									.service__description Bezpiecznie i skutecznie usuwamy zabrudzenia i plamy, pot oraz nieprzyjemne zapachy z materacy jedno- i dwuosobowych.
								.service__footer 
									a.service__more(href="./pranie-materacy.html") Więcej informacji
						.swiper-slide.h-auto
							.service.card.palette-glass.rounded.bordered
								.service__header
									picture.service__img
										source(srcset="img/service-carpet.webp" type="image/webp")
										img(src="img/service-carpet.jpg" alt="Pranie dywanów" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Pranie dywanów
									.service__description Dogłębnie usuwamy brud, plamy oraz sierść zwierząt domowych z dywanów i wykładzin.
								.service__footer 
									a.service__more(href="./pranie-dywanow.html") Więcej informacji
			.col-12(data-aos="fade-in" data-aos-delay="200")  
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right") 
						h4.mb-0 Dodatkowe usługi sprzątania
					.col-auto(data-aos="fade-left")  
						.swiper-navigation
							.additional-services-button-prev.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.additional-services-button-next.btn.palette-third.size-small.rounded
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
			.col-12
				.swiper.additional-services-swiper.overflow-visible 
					.swiper-wrapper.h-auto
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/oven-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Мойка духовки
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/microwave-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Мойка микроволновки
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/fridge-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Мойка холодильника
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/kitchen-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Мойка внутренних шкафов кухни
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/closet-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Мойка шкафов-гардеробов изнутри
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/hood-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Мойка вытяжки
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/litter-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Мойка кошачьего туалета
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/ironing-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Глажка одежды
						.swiper-slide.h-auto
							.card.palette-glass.rounded.bordered.h-100
								.card__img 
									img(src="img/window-img.png", alt="")
								h4.h6.card__title.text-center.mb-0 Мойка окон