.timer(data-deadline="15.10.2025") 
	h3.h6.timer__title.text-center 10% zniżki:
	.timer__inner
		.card.card-primary-outline.card-rounded.card-bordered.card-small
			span.days
		span :
		.card.card-primary-outline.card-rounded.card-bordered.card-small
			span.hours
		span :
		.card.card-primary-outline.card-rounded.card-bordered.card-small
			span.minutes
		span :
		.card.card-primary-outline.card-rounded.card-bordered.card-small
			span.seconds
	.timer__btn
		include cta-button