.timer(data-deadline="20.12.2025")
    h3.h6.timer__title.text-center Odbierz 10% zniżki:
    .timer__inner
        .card.palette-glass.rounded.bordered.size-normal
            span.days
        span :
        .card.palette-glass.rounded.bordered.size-normal
            span.hours
        span :
        .card.palette-glass.rounded.bordered.size-normal
            span.minutes
        span :
        .card.palette-glass.rounded.bordered.size-normal
            span.seconds
    .timer__btn
        include cta-button