section.why#why.bg.bg-dark
	.container
		.row.flex-column-reverse.flex-lg-row.gx-5.gy-0 
			.col-12.col-lg-7.col-xl-8.align-self-center 
				.block
					.row.g-4.align-items-center.justify-content-center 
						.col-12(data-aos="fade-right" data-aos-delay="200")
							.row.g-2 
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded.card-bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#effective")
											h4.h6.card__title.mb-0 Skuteczne usuwanie plam i zapachów
										.card__body Używamy profesjonalnej chemii, która radzi sobie nawet z trudnymi zabrudzeniami
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded.card-bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#materials")
											h4.h6.card__title.mb-0 Pracujemy z różnymi rodzajami materiałów
										.card__body Delikatnie czyścimy tkaniny, skórę, zamsz, mikrofibrę i inne powierzchnie
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded.card-bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#intime")
											h4.h6.card__title.mb-0 Przyjeżdżamy w dogodnym dla Ciebie czasie
										.card__body To Ty wybierasz datę i godzinę — dostosowujemy się do Twojego harmonogramu
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded.card-bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#safe")
											h4.h6.card__title.mb-0 Bezpieczne dla dzieci i zwierząt
										.card__body Stosujemy hipoalergiczne środki, które są bezpieczne dla zdrowia
			.col-12.col-lg-5.col-xl-4
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left
					.semicircles.semicircles-bottom.semicircles-right
					.mask__inner(data-aos="fade-down" data-aos-delay="100")
						h2.mask__title Dlaczego właśnie my?
						h3.h6.mask__subtitle Nasi klienci wracają do nas — i oto dlaczego
						.mask__timer
							include timer