// $grid-gutter-width: 1.5rem;
// $grid-gutter-height: 1.5rem;
// $gutter: $grid-gutter-width;
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss';







*,
*:before,
*:after {
  box-sizing: border-box;
}

// .row {
//   --bs-gutter-y: 1.5rem;
// }

:root {
  --h1: 1.625rem;
  --h2: 1.5rem;
  --h3: 1.375rem;
  --h4: 1.25rem;
  --h5: 1.125rem;
  --h6: 1rem;
  --line-height: 1.3;


  @media screen and (min-width: 768px) {
    --h1: 2rem;
    --h2: 1.75rem;
    --h3: 1.5rem;
  }


  @media screen and (min-width: 1200px) {
    // --h1: 2.25rem;
    // --h2: 2rem;
    // --h3: 1.75rem;
    --h4: 1.5rem;
    --h5: 1.375rem;
    --h6: 1.125rem;
  }

}

h1,
h2 {
  line-height: 1.2;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

[class*="title" i]:has(+ [class*="subtitle" i]) {
  margin-bottom: 0.5rem;
}

body {
  // --section-color: var(--neutral-color);
  // --substrate-color: var(--neutral-color);
  // font-family: "Cormorant Garamond", serif;
  // font-family: "Montserrat", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: var(--line-height);
  font-weight: 300;
  overflow-x: hidden;
  color: var(--fourth-color-125);
  background: var(--neutral-color);




  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Raleway';
  margin-bottom: 1em;
  margin-top: 0;
  font-weight: 700;
}

li:not(:last-child):not(.bullet) {
  margin-bottom: 0.5rem;
}

html {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-secondary {
  color: var(--second-color);
}

.text-digits {
  font-family: 'Times New Roman', Times, serif;
}

.text-uppercase {
  text-transform: uppercase;
}

br {
  line-height: 1;
  font-size: 0;
}




.rating {
  --star-size: 20px;
  --star-offset: 1px;
  width: calc(var(--star-size) * 5);
  height: var(--star-size);
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: repeat-x;
  }

  &:before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.62747L11.9214 6.24697C12.1014 6.67976 12.5084 6.97547 12.9756 7.01293L17.9627 7.41275L14.1631 10.6676C13.8071 10.9725 13.6516 11.451 13.7604 11.9069L14.9212 16.7735L10.6516 14.1656C10.2515 13.9213 9.74845 13.9213 9.34843 14.1656L5.07875 16.7735L6.23961 11.9069C6.34837 11.451 6.19291 10.9725 5.83692 10.6676L2.03726 7.41275L7.02438 7.01293C7.49162 6.97547 7.89863 6.67976 8.07864 6.24697L10 1.62747Z' stroke='%23f8b400' stroke-width='2'/%3E%3C/svg%3E%0A");
  }

  &:after {
    width: calc(var(--star-size) * var(--star-rating));
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.42292 1.38746C9.63642 0.874148 10.3636 0.874147 10.5771 1.38746L12.4984 6.00695C12.5884 6.22335 12.7919 6.3712 13.0256 6.38993L18.0127 6.78975C18.5668 6.83417 18.7916 7.52574 18.3693 7.88741L14.5697 11.1422C14.3917 11.2947 14.314 11.5339 14.3683 11.7619L15.5292 16.6285C15.6582 17.1693 15.0699 17.5967 14.5955 17.3069L10.3258 14.699C10.1258 14.5768 9.87423 14.5768 9.67422 14.699L5.40454 17.3069C4.9301 17.5967 4.34182 17.1693 4.47081 16.6285L5.63167 11.7619C5.68605 11.5339 5.60832 11.2947 5.43032 11.1422L1.63066 7.88741C1.20845 7.52574 1.43315 6.83417 1.98731 6.78975L6.97444 6.38993C7.20806 6.3712 7.41156 6.22335 7.50157 6.00695L9.42292 1.38746Z' fill='%23f8b400'/%3E%3C/svg%3E%0A");
  }
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;

  &-right {
    margin-right: 0.25rem;
  }

  &-left {
    margin-left: 0.25rem;
  }

  &-geo {
    &:before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2392e3a9' class='bi bi-geo-alt-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6'/%3E%3C/svg%3E");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: calc((1em * var(--line-height) - 1em) / 2);
    }
  }
}

.cities {
  position: relative;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

.bounce {
  animation: bounce 1s infinite;
}


.btn {
  --border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: 700;
  transition: background 400ms, color 800ms, transform 400ms;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  background: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  color: inherit;
  padding: var(--padding, 1rem);
  font-size: var(--font-size, 1rem);
}


.card {
  --border-radius: 0.5rem;
  padding: var(--padding, 1rem);
  font-size: var(--font-size, 1rem);
  border-radius: var(--border-radius-top-left, 0) var(--border-radius-top-right, 0) var(--border-radius-bottom-right, 0) var(--border-radius-bottom-left, 0);
  border-style: var(--border-style-top, none) var(--border-style-right, none) var(--border-style-bottom, none) var(--border-style-left, none);
  border-width: var(--border-width-top, 0) var(--border-width-right, 0) var(--border-width-bottom, 0) var(--border-width-left, 0);
  border-color: var(--border-color-top, transparent) var(--border-color-right, transparent) var(--border-color-bottom, transparent) var(--border-color-left, transparent);
  position: relative;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__icon {
    svg {
      vertical-align: middle;
    }
  }
  &__img {
    margin-bottom: 0.5rem;
    img {
      height: 100px;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
      display: block;
      margin: 0 auto;
    }
  }
  &__body {
    margin-top: 0.5rem;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}


.palette {

  &-primary {
    --border-color: var(--fourth-color);
    background: linear-gradient(45deg, var(--fourth-color) 0%, var(--third-color) 50%, var(--fourth-color) 100%);
    color: var(--first-color);

    &.btn:hover {
      background: linear-gradient(45deg, var(--fourth-color) 0%, var(--third-color) 100%);
    }

    &.btn:active {
      background: var(--fourth-color-125);
    }

    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      --border-color: var(--first-color-125);
      background: var(--first-color);
      color: var(--fourth-color-125);
    }

    &-outline {
      --border-color: var(--fourth-color);
      background: var(--first-color);
      color: var(--fourth-color);

      &.btn:hover {
        background: var(--first-color-125);
      }

      &.btn:active {
        background: var(--first-color);
      }

      &.active,
      .active &,
      .swiper-slide-thumb-active & {
        --border-color: var(--fourth-color);
        background: var(--fourth-color);
        color: var(--first-color);
      }
    }
  }

  &-secondary {
    --border-color: var(--second-color-125);
    background: var(--second-color);
    color: var(--fourth-color-125);

    &.btn:hover {
      background: var(--second-color-125);
    }

    &.btn:active {
      background: var(--second-color);
    }

    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      --border-color: var(--second-color);
      background: var(--first-color);
      color: var(--second-color);
    }

    &-outline {
      --border-color: var(--second-color);
      background: var(--first-color);
      color: var(--second-color);

      &.btn:hover {
        background: var(--first-color-125);
      }

      &.btn:active {
        background: var(--first-color);
      }

      &.active,
      .active &,
      .swiper-slide-thumb-active & {
        --border-color: var(--second-color);
        background: var(--second-color);
        color: var(--first-color);
      }
    }

  }

  &-third {
    --border-color: var(--third-color);
    background: var(--third-color);
    color: var(--first-color);

    &.btn:hover {
      background: var(--third-color-125);
    }

    &.btn:active {
      background: var(--third-color);
    }

    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      --border-color: var(--third-color);
      background: var(--first-color);
      color: var(--third-color);
    }

    &-outline {
      --border-color: var(--third-color);
      background: var(--first-color);
      color: var(--third-color);

      &.btn:hover {
        background: var(--first-color-125);
      }

      &.btn:active {
        background: var(--first-color);
      }

      &.active,
      .active &,
      .swiper-slide-thumb-active & {
        --border-color: var(--first-color);
        background: var(--third-color);
        color: var(--first-color);
      }
    }
  }

  &-fourth {
    --border-color: var(--fourth-color);
    background: var(--first-color);
    color: var(--fourth-color);
    &.btn:hover {
      background: var(--first-color-125);
    }
    &.btn:active {
      background: var(--first-color);
    }
    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      --border-color: var(--first-color);
      background: var(--fourth-color);
      color: var(--first-color);
    }
    &-outline {
      --border-color: var(--first-color);
      background: var(--fourth-color);
      color: var(--first-color);
      &.btn:hover {
        background: var(--fourth-color-125);
      }
      &.btn:active {
        background: var(--fourth-color);
      }
      &.active,
      .active &,
      .swiper-slide-thumb-active & {
        --border-color: var(--fourth-color);
        background: var(--first-color);
        color: var(--fourth-color);
      }
    }
  }

  &-contrast {
    --border-color: var(--contrast-color);
    background: var(--contrast-color);
    color: var(--first-color);

    &.btn:hover {
      background: var(--contrast-color-125);
    }

    &.btn:active {
      background: var(--contrast-color);
    }

    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      --border-color: var(--contrast-color);
      background: var(--first-color);
      color: var(--contrast-color);
    }

    &-outline {
      --border-color: var(--contrast-color);
      background: var(--first-color);
      color: var(--contrast-color);

      &.btn:hover {
        background: var(--contrast-color-125);
      }

      &.btn:active {
        background: var(--first-color);
      }

      &.active,
      .active &,
      .swiper-slide-thumb-active & {
        --border-color: var(--first-color);
        background: var(--contrast-color);
        color: var(--first-color);
      }
    }
  }

  &-transparent {
    background: transparent;
    color: inherit;
    border: none;
  }

  &-glass {
    .bg-dark & {
      --border-color: rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.1);
    }

    .bg-light & {
      --border-color: rgba(0, 56, 154, 0.1);
      background: rgba(0, 56, 154, 0.05);
    }

    backdrop-filter: blur(5px);

    &.btn:hover {
      .bg-dark & {
        --border-color: rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.3);
      }

      .bg-light & {
        // --border-color: rgba(0, 56, 154, 0.15);
        // background: rgba(0, 56, 154, 0.1);
              --border-color: rgba(0, 56, 154, 0.1);
      background: rgba(0, 56, 154, 0.05);
      }

    }

    &.btn:active {
      .bg-dark & {
        --border-color: rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.3);
      }

      .bg-light & {
        --border-color: rgba(0, 56, 154, 0.15);
        background: rgba(0, 56, 154, 0.1);
      }
    }

    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      .bg-dark & {
        --border-color: rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.3);
      }

      .bg-light & {
        --border-color: rgba(0, 56, 154, 0.05);
        background: rgba(0, 56, 154, 0.025);
      }
    }
  }
}

.size {
  &-large {
    --border-radius: 0.75rem;
    --padding: 1.25rem;
    --font-size: 1.125rem;
  }

  &-normal {
    --border-radius: 0.5rem;
    --padding: 1rem;
    --font-size: 1rem;
  }

  &-small {
    --border-radius: 0.25rem;
    --padding: 0.75rem;
    --font-size: 0.75rem;
  }
}

[class*="rounded"] {
    border-radius: var(--border-radius-top-left, 0) var(--border-radius-top-right, 0) var(--border-radius-bottom-right, 0) var(--border-radius-bottom-left, 0);
}

.rounded {
  --border-radius-top-left: var(--border-radius);
  --border-radius-top-right: var(--border-radius);
  --border-radius-bottom-left: var(--border-radius);
  --border-radius-bottom-right: var(--border-radius);


  &-top {
    --border-radius-top-left: var(--border-radius);
    --border-radius-top-right: var(--border-radius);
    --border-radius-bottom-left: 0;
    --border-radius-bottom-right: 0;
  }

  &-bottom {
    --border-radius-top-left: 0;
    --border-radius-top-right: 0;
    --border-radius-bottom-left: var(--border-radius);
    --border-radius-bottom-right: var(--border-radius);
  }
}

[class*="bordered"] {
  border-style: var(--border-style-top, none) var(--border-style-right, none) var(--border-style-bottom, none) var(--border-style-left, none);
  border-width: var(--border-width-top, 0px) var(--border-width-right, 0px) var(--border-width-bottom, 0px) var(--border-width-left, 0px);
  border-color: var(--border-color-top, transparent) var(--border-color-right, transparent) var(--border-color-bottom, transparent) var(--border-color-left, transparent);

}

.bordered {
  --border-style-left: solid;
  --border-style-top: solid;
  --border-style-right: solid;
  --border-style-bottom: solid;
  --border-color-left: var(--border-color);
  --border-color-top: var(--border-color);
  --border-color-right: var(--border-color);
  --border-color-bottom: var(--border-color);
  --border-width-left: 1px;
  --border-width-top: 1px;
  --border-width-right: 1px;
  --border-width-bottom: 1px;


  &-top {
    --border-style-left: solid;
    --border-style-top: solid;
    --border-style-right: solid;
    --border-style-bottom: none;
    --border-color-left: var(--border-color);
    --border-color-top: var(--border-color);
    --border-color-right: var(--border-color);
    --border-color-bottom: transparent;
    --border-width-left: 1px;
    --border-width-top: 1px;
    --border-width-right: 1px;
    --border-width-bottom: 0px;
  }

  &-bottom {
    --border-style-left: solid;
    --border-style-top: none;
    --border-style-right: solid;
    --border-style-bottom: solid;
    --border-color-left: var(--border-color);
    --border-color-top: transparent;
    --border-color-right: var(--border-color);
    --border-color-bottom: var(--border-color);
    --border-width-left: 1px;
    --border-width-top: 0px;
    --border-width-right: 1px;
    --border-width-bottom: 1px;
  }
}






@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.swiper-navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

*:has(>.sr-only) {
  position: relative;
}


.active .in-active-none {
  display: none;
}

.active .in-inactive-none {
  display: block;
}

.in-inactive-none {
  display: none;
}

.text-white {
  color: #fff;
}


.w-100 {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.overflow-visible {
  overflow: visible !important;
}

.h-auto {
  height: auto !important;
}

.h-100 {
  height: 100%;
}

.p-relative {
  position: relative;
}

.index-2 {
  z-index: 2;
}


@keyframes draw-circle-inner {
  from {
    stroke-dasharray: 0, 565;
  }

  to {
    stroke-dasharray: 310, 565;
  }
}

@keyframes draw-circle-outer {
  from {
    stroke-dasharray: 0, 565;
  }

  to {
    stroke-dasharray: 350, 565;
  }
}

@keyframes fade-in-sofa {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(0.45)
  }
}



.text-red {
  color: red;
}

.beer-slider picture {
  display: block;
}

.list-check {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    display: flex;
    gap: 0.5rem;

    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-check-lg' viewBox='0 0 16 16'%3E%3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z'/%3E%3C/svg%3E");
    }
  }
}

section:has(.swiper) {
  overflow: hidden;
}

hr {
  width: 100%;
  border-color: var(--fourth-color);
  border-top: none;
}