:root {
  --neutral-color: #f6f8fd;
  --first-color:  #f2f7ff;
  --first-color-125: #e0eafe;
  --second-color: #92e3a9;
  --second-color-125: #74d08e;
  --third-color:  #2cace1;
  --third-color-125: #1d95c9;
  --fourth-color: #005fff;
  --fourth-color-125: #00389a;
  --contrast-color:  #f70000;
  --contrast-color-125:  #aa0000;
}
