section.promo#promo.bg.bg-dark
	.container 
		.row.flex-column-reverse.flex-lg-row
			.col-12.col-lg-7.col-xl-8.align-self-center 
				.block
					.row.g-4 
						.col-12
							h1.promo__title.mb-0.text-uppercase Higiena snu bez roztoczy. Pranie i czyszczenie materacy 
								include ../cities
						.col-12
							.promo__subtitle.extractor 
								.extractor__cleaner(data-aos="fade-left" data-aos-delay="100") 
								h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left" data-aos-delay="200") Profesjonalna dezynfekcja materacy: Skuteczne usuwanie głębokich zabrudzeń, plam i alergenów metodą ekstrakcyjną.
						.col-12
							.card.palette-glass.rounded.bordered 
								ul.list-check.row.gy-3.gx-4.mb-0
									li.col-12.col-md-6.col-xl-4 Skuteczna eliminacja roztoczy, bakterii i alergenów (ważne dla alergików)
									li.col-12.col-md-6.col-xl-4 Usuwanie trudnych plam: pot, mocz, krew i inne zabrudzenia biologiczne
									li.col-12.col-md-6.col-xl-4 Neutralizacja nieprzyjemnych zapachów i przywrócenie świeżości
									li.col-12.col-md-6.col-xl-4 Pranie materacy jedno- i dwuosobowych (jedno- i dwustronnie)
									li.col-12.col-md-6.col-xl-4 Bezpieczne dla zdrowia środki czyszczące i dezynfekujące
									li.col-12.col-md-6.col-xl-4 Pranie materacy z bezpłatnym dojazdem do klienta w Katowicach
						.col-12 
							.row.g-2.justify-content-center.justify-content-lg-start 
								.col-auto.flex-grow-1.flex-lg-grow-0
									include ../cta-button
			.col-12.col-lg-5.col-xl-4
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left.d-none.d-lg-block
					.semicircles.semicircles-bottom.semicircles-right.d-none.d-lg-block
					.mask__inner
						h3.h6.mask__subtitle 
							b.text-bold Usługi prania materacy: 
							br
							include ../cities
							br
							include ../schedule
						.mask__timer
							include ../timer