section.promo#promo.bg.bg-dark
	.container 
		.row.flex-column-reverse.flex-lg-row
			.col-12.col-lg-7.col-xl-8.align-self-center 
				.block
					.row.g-4
						.col-12
							h1.promo__title.mb-0.text-uppercase Pralnia i pranie dywanów. Czyszczenie wykładzin dywanowych
								include ../cities
						.col-12
							.promo__subtitle.extractor 
								.extractor__cleaner(data-aos="fade-left" data-aos-delay="100") 
								h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left" data-aos-delay="200") Skuteczne pranie dywanów metodą ekstrakcyjną i na wskroś. Usuwamy brud, plamy, sierść, roztocza i alergeny.
						.col-12
							.card.palette-glass.rounded.bordered 
								ul.list-check.row.gy-3.gx-4.mb-0
									li.col-12.col-md-6.col-xl-4 Pranie dywanów Shaggy, wełnianych, syntetycznych i orientalnych
									li.col-12.col-md-6.col-xl-4 Czyszczenie wykładzin biurowych i domowych
									li.col-12.col-md-6.col-xl-4 Profesjonalne usuwanie trudnych plam, sierści i nieprzyjemnych zapachów
									li.col-12.col-md-6.col-xl-4 Gwarancja antyroztoczowa i bezpłatne ozonowanie dywanu
									li.col-12.col-md-6.col-xl-4 Bezpłatny odbiór i dowóz dywanów w Katowicach
									li.col-12.col-md-6.col-xl-4 Proces prania na wskroś (usuwanie brudu z rdzenia włókien)
						.col-12
							.row.g-2.justify-content-center.justify-content-lg-start 
								.col-auto.flex-grow-1.flex-lg-grow-0
									include ../cta-button
			.col-12.col-lg-5.col-xl-4
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left.d-none.d-lg-block
					.semicircles.semicircles-bottom.semicircles-right.d-none.d-lg-block
					.mask__inner
						h3.h6.mask__subtitle 
							b.text-bold Usługi prania dywanów i wykładzin: 
							br
							include ../cities
							br
							include ../schedule
						.mask__timer
							include ../timer