section.promo#promo.bg.bg-dark
	.container 
		.row.flex-column-reverse.flex-lg-row
			.col-12.col-lg-7.col-xl-8.align-self-center 
				.block
					.row.g-4 
						.col-12
							h1.promo__title.mb-0.text-uppercase Pranie tapicerki meblowej: Czyszczenie kanap, narożników i foteli 
								include ../cities
						.col-12
							.promo__subtitle.extractor 
								.extractor__cleaner(data-aos="fade-left" data-aos-delay="100") 
								h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left" data-aos-delay="200") Profesjonalne czyszczenie tapicerki metodą ekstrakcyjną. Usuwamy plamy, sierść, roztocza i nieprzyjemne zapachy.
						.col-12
							.card.palette-glass.rounded.bordered 
								ul.list-check.row.gy-3.gx-4.mb-0
									li.col-12.col-md-6.col-xl-4 Ekstrakcyjne pranie tapicerki meblowej (dogłębne czyszczenie)
									li.col-12.col-md-6.col-xl-4 Skuteczne usuwanie trudnych plam z kanap i narożników (kawa, wino, tłuszcz)
									li.col-12.col-md-6.col-xl-4 Eliminacja roztoczy, sierści, alergenów i nieprzyjemnych zapachów
									li.col-12.col-md-6.col-xl-4 Bezpieczne środki chemiczne dla dzieci i zwierząt domowych
									li.col-12.col-md-6.col-xl-4 Przedłużenie żywotności Twoich mebli tapicerowanych
									li.col-12.col-md-6.col-xl-4 Darmowy dojazd na usługę na terenie Katowic i okolic
						.col-12
							.row.g-2.justify-content-center.justify-content-lg-start 
								.col-auto.flex-grow-1.flex-lg-grow-0
									include ../cta-button
			.col-12.col-lg-5.col-xl-4
				.mask
					.semicircles.semicircles-top.semicircles-left
					.semicircles.semicircles-top.semicircles-right
					.semicircles.semicircles-bottom.semicircles-left.d-none.d-lg-block
					.semicircles.semicircles-bottom.semicircles-right.d-none.d-lg-block
					.mask__inner
						h3.h6.mask__subtitle 
							b.text-bold Usługi prania tapicerki: 
							br
							include ../cities
							br
							include ../schedule
						.mask__timer
							include ../timer